@charset "UTF-8";

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caixa a{
    text-decoration: none;
    color: red;
    cursor: pointer;
}

.caixa a:hover{
    background-color: red;
    color: white;
}

.texto{
    color: #0f0;
    font-size: 1.5em;
}

.vermelho{
    width: 60px;
}

.link{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: 0.5s;
}

.link:hover{
    background-color: lightgray;
    transition: 0.5s;
}